html{
  scroll-behavior: smooth;
}

.body{
  background-color: #e7e7e7;
  font-family: "Mont",Arial, sans-serif;
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


