.services__list-background{
    background-image: url("../../../images/background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1280/720;
  }
