.header__logo{
  margin: 0;
  width: 90px;
  aspect-ratio: 60/70;
  grid-area: logo;
}

@media screen and (max-width: 768px){
  .header__logo{
    width: 60px;
  }
}

@media screen and (max-width: 620px){
  .header__logo{
    width: 50px;
  }
}
