.header__logo{
  margin: 0;
  width: 60px;
  aspect-ratio: 60/80;
  grid-area: logo;
}

@media screen and (max-width: 768px){
  .header__logo{
    width: 40px;
  }
}

@media screen and (max-width: 620px){
  .header__logo{
    width: 30px;
  }
}
