.services__title{
  margin: 30px 0 0;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  z-index: 2;
}

@media screen and (max-width: 950px){
  .services__title{
    color: #ffffff;
    font-size: 30px;
  }

  .services__title:last-of-type{
    margin-top: 50px;
  }
}

@media screen and (max-width: 950px) {
  .services__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 500px){
  .services__title{
    font-size: 22px;
    margin-top: 10px;
  }
}
