.services__element{
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

}

@media screen and (max-width: 1154px){
  .services__element{
    font-size: 14px;
  }
}

@media screen and (max-width: 810px){
  .services__element{
    color: #ffffff;
  }
}

@media screen and (max-width: 500px){
  .services__element{
    font-size: 12px;
    line-height: 1.3;
  }
}
