.intro__three-columns{
  display: flex;
  justify-content: space-between;
  margin: 100px auto 25px;
  max-width: 1280px;
  width: 90%;
}

@media screen and (max-width: 600px){
  .intro__three-columns{
    margin-top: 70px;
    margin-bottom: 25px;
  }
}
